@model User

@{
    ViewData["Title"] = "Edit User";
}


<div class="container pt-3">
    <h2>Edit User</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="UserId" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailId" class="control-label"></label>
            <input asp-for="EmailId" class="form-control" />
            <span asp-validation-for="EmailId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SubscriptionType" class="control-label"></label>
            <select asp-for="SubscriptionType" class="form-control" asp-items="Html.GetEnumSelectList<SubscriptionType>()"></select>
            <span asp-validation-for="SubscriptionType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" type="date" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" type="date" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="pt-2">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>
</div>


